.weather,
.temperature,
.filter-container,
.info-grid-2,
.weather-icon
 {
    border: 1px solid rgba(255, 0, 0, 0);

}

.weather {
    border: 1px solid rgba(89, 0, 255, 0);

}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    gap: 10px;

}

.search-bar {
    height: 22px;
    border-radius: 8px;
    border: none;
    border: 2px solid #b8b5b5;

}

.search-button {
    height: 28px;
    border-radius: 8px;
    border: none;
    border: 2px solid #b8b5b5;
    background-color: #1976d2;
    color: #ffffff;
    border: none;

}

.weather {
    display: flex;
    justify-content: center;
    height: 525px;
    

}

.temperature {
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 245px;
    width: 180px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #ffffff2a;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 35px;
    color: #ffffff;
    
}

.weather-icon {
    height: 100px;
    width: 100px;
}

.info-grid-2 {
    display:flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 245px;
    width: 180px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #ffffff2a;
}

.info-grid-1 {
    display:flex; 
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    height: 500px;
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #ffffff2a;
}

.info {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin-left: 10px;
  color:#ffffff;
}

.info-cell {
  border: 1px solid rgba(255, 0, 0, 0);
  width: 150px;
}

.temperature, .info-grid-1, .info-grid-2 {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  